localhost ansible_ssh_host=127.0.0.1 ansible_connection=local obsidian_path=/mnt/Obsidian/
system1 ansible_ssh_host=192.168.1.180 ansible_user=user_name
system2 ansible_ssh_host=192.168.1.181 ansible_user=user_name

[dev]
localhost

[multimedia]
localhost

[syncthing]
localhost
